.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.continue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  width: 140px;
  height: 50px;
  background: #f028b8;
  border-radius: 8px;
  outline: 0;
  gap: 8px;
  cursor: pointer;
  border: none;
  font-family: Aeonik;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 20px;
  align-self: flex-end;
}

.continue:disabled {
  cursor: not-allowed;
  background-color: rgb(240 40 184 / 70%);
}

.colorContainer {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin: 32px auto 20px;

  /* @media only screen and (max-width: 900px) and (orientation: portrait) {
    width: 100%;
  } */
}

.colorContainer > div {
  cursor: pointer;
  /* width: 90px; */
  width: 120px;
  /* height: 110px; */
  height: 144px;
  /* border-radius: 52px; */
  border-radius: 66px;
}

.colorContainer > div:global(.selected) {
  background-image: url(../../assets/icons/tickMarkIcon.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.backgroundContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;

  /* @media only screen and (max-width: 900px) and (orientation: portrait) {
    flex-direction: column;
  } */
}

.backgroundContainer > div {
  padding: 30px;
  border: 2px solid transparent;
}

.backgroundContainer > div:global(.selected) {
  border-color: #f028b8;
}

.backgroundCard {
  width: 152px;
  height: 152px;
  display: flex;
  flex-direction: column;
  background: #222222;
  padding: 6.97% 7.08%;
  position: relative;
}

.backgroundCard svg {
  position: absolute;
  top: 6.97%;
  right: 7.08%;
  height: 54px;
  width: auto;
}

.backgroundContainer > div:last-of-type > div {
  background: #ffffff;
  border: 1px solid grey;
}

.backgroundCard :global(.a) {
  width: 50px;
  height: 10px;
  border-radius: 6px;
  background: #f028b8;
}

.backgroundCard :global(.b) {
  width: 50px;
  height: 15px;
  border-radius: 8px;
  background: #f028b8;
  margin-top: auto;
}

.backgroundCard :global(.c) {
  width: 75px;
  height: 12px;
  margin-top: 8px;
  border-radius: 6px;
  background: grey;
}

@media only screen and (max-width: 900px) {
  .colorContainer {
    width: 100%;
    gap: 20px;
  }

  .colorContainer > div:global(.selected) {
    background-size: 46% !important;
  }

  /* .colorContainer {
    margin: auto;
  }
  .backgroundContainer {
    margin: auto;
  } */
  .continue {
    margin-top: auto;
    margin-bottom: 20px;
  }

  .backgroundContainer > div {
    padding: 20px;
  }
  .backgroundCard {
    width: 90px;
    height: 90px;
  }

  .backgroundCard svg {
    height: 31px;
  }

  .backgroundCard :global(.a) {
    width: 29px;
    height: 6px;
  }

  .backgroundCard :global(.b) {
    width: 29px;
    height: 8px;
  }

  .backgroundCard :global(.c) {
    width: 44px;
    height: 6.5px;
  }
}

@media only screen and (max-width: 900px) and (orientation: portrait) {
  .colorContainer > div {
    height: 120px;
  }
}

@media only screen and (max-width: 600px) {
  .colorContainer > div {
    width: 100px;
    height: 120px;
  }
}

/* @media only screen and (max-width: 450px) {
  .colorContainer > div:global(.selected) {
    background-size: 36% !important;
  }
  .colorContainer > div {
    width: 80px;
    height: 96px;
  }
  .colorContainer {
    margin: auto;
  }
  .backgroundContainer {
    margin: auto;
  }
  .backgroundContainer > div {
    padding: 15px;
  }
  .backgroundCard {
    width: 60px;
    height: 60px;
  }

  .backgroundCard svg {
    height: 21px;
  }

  .backgroundCard :global(.a) {
    width: 19px;
    height: 4px;
  }

  .backgroundCard :global(.b) {
    width: 19px;
    height: 5px;
  }

  .backgroundCard :global(.c) {
    width: 30px;
    height: 4.5px;
  }

  .continue {
    margin-bottom: 20px;
  }
} */
