.cardContainer {
    border-radius: 8px;
}

.cardTitle {
    width: 184px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 7.08%;
}

.cardTitle svg {
    width: inherit !important;
    height: auto !important;
}

.repositionedImageContainer {
    position: absolute;
    right: 7.56%;
    top: 7.56%;
    width: 45%;
    height: 54%;
    border-radius: 180px;
}

.repositionedImage {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 180px;
}

.rect {
    width: 45%;
    height: 54%;
    background: #f028b8;
    border-radius: 180px;
    position: absolute;
    right: 7.56%;
    top: 7.56%;
    background-image: url(../../assets/icons/personIcon.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.persona {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f020b6;
    border-radius: 50px;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    z-index: 1;
    margin-bottom: 4.4%;
    /* margin-bottom: 23px; */
    /* padding: 8px 22px; */
    padding: 1.5% 4%;
}

.footerText {
    position: absolute;
    bottom: 4.37%;
    right: 4.7%;
    color: black;
    text-align: right;
    font-family: Aeonik;
    font-weight: 500;
    font-size: 1em;
    line-height: 110%;
}

.sticker {
    height: 28.6%;
    /* height: 150px; */
    width: auto;
    z-index: 1;
}
.sticker path {
    fill: black;
}

.sticker:global(.black) path {
    fill: #fff;
}

@media screen and (max-width: 768px) {
    .rect,
    .repositionedImageContainer {
        border-radius: 120px;
    }
    .cardTitle {
        width: 121px;
    }
    .persona {
        font-size: 9px;
    }
    .footerText {
        font-size: 9px;
    }
}

@media screen and (max-width: 560px) {
    .rect,
    .repositionedImageContainer {
        border-radius: 91px;
    }
    .cardTitle {
        width: 90px;
    }
    .persona {
        font-size: 7px;
        line-height: 1.5;
        margin-bottom: 4.4%;
    }
    .sticker {
        height: 26.6%;
    }
    .footerText {
        font-size: 8px;
    }
    .rightContainer {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 382px) {
    .cardTitle {
        width: 75px;
    }
    .persona {
        font-size: 5px;
        margin-bottom: 4.4%;
        line-height: 1;
        padding: 5px;
    }
    .sticker {
        height: 24.5%;
    }
    .footerText {
        font-size: 6px;
    }
}
